:root {
   --on-primary: #0E153A;
   --on-secondary: #3D5AF1;
   --on-tertiary: #22D1EE;
   --on-tertiary-transparent: #22cfeeb5;
   --white: #FFFFFF;
}

/* IMPORTED FONTS */
/* @font-face {
   font-family: 'Tw Cen MT Condensed Bold';
   src: url('./../fonts/Tw Cen MT Condensed Bold.ttf') format('truetype');
}

@font-face {
   font-family: 'Tw Cen MT Condensed Extra Bold Regular';
   src: url('./../fonts/Tw Cen MT Condensed Extra Bold Regular.ttf') format('truetype');
} 
   
@font-face {
  font-family: 'BrixSans';
  src: url('./../../public/fonts/BrixSans-Light.otf') format('opentype');
} */

@font-face {
  font-family: 'SailecBold';
  src: url('./../../public/fonts/Sailec-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'IverseMono-Bold';
  src: url('./../../public/fonts/IverseMono-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'IverseMono-Regular';
  src: url('./../../public/fonts/IverseMono-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'PTMono-Regular';
  src: url('./../../public/fonts/PTMono-Regular.ttf') format('opentype');
}

* {
   box-sizing: border-box;
   margin:0;
   padding:0;
   scroll-behavior: smooth;
   font-family: 'IverseMono-regular', sans-serif;
}


/* ////////////HOME//////////////// */
.Main {
   height: 300vh;
   scroll-behavior: smooth;
}

body {
   background-color: var(--on-primary);
   color: var(--white);
}

.home {
   height: 100vh;
}

.paragraph {
   font-weight: 600;
   font-family: PTMono-Regular, monospace;
}

.highlight {
   color: var(--on-tertiary);
}

.name {
   font-family: 'SailecBold', sans-serif;
   font-weight: 900;
   font-size: 60px;
}

.paragraph.name{
   color: hsla(0, 0%, 100%, 0.6);
}


/* ================ Loading animation ================ */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--on-primary); /* or any other background color */
}

/* //TODO: should be responsive */
.loader-logo {
  width: 550px; 
  height: 550px; 
}

.loader-logo {
  mix-blend-mode: screen;
}


/*==================== Navigation ================= */

ol {
  list-style: decimal;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

li.navMenu {
   counter-increment: list-item;
   margin: auto 20px;
   cursor: pointer;
}

li.navMenu::before {
   content:counter(list-item, decimal-leading-zero) '. ';
   color: var(--on-tertiary);
   font-family: PTMono-Regular, monospace;
   font-weight: 650;
}


