@import url('https://fonts.cdnfonts.com/css/sf-mono');
@import url('https://fonts.cdnfonts.com/css/calibri-light');

:root {
   --on-primary: #0E153A;
   --on-primary-bg: #0f0c29;
   --on-secondary: #3D5AF1;
   /* --on-tertiary: #22D1EE; */
   --on-tertiary: #10e0e0;
   
   --tertiary-10: #10e0e01a; 
   --tertiary-25: rgba(16, 224, 224, 0.25); 

   --white: #FFFFFF;
   --gray: rgb(204, 214, 246);
   --dark-navy: #020c1b;
   --navy: #0a192f;
   --light-navy: #112240;
   --lightest-navy: #233554;
   --navy-shadow: rgba(2,12,27,0.7);
   --dark-slate: #495670;
   --slate: #8892b0;
   --light-slate: #a8b2d1;
   --lightest-slate: #ccd6f6;
   --white: #e6f1ff;
   --green: #64ffda;
   --pink: #f57dff;
   --blue: #57cbff;
   
   --green-tint: rgba(100,255,218,0.1);
   --white-20: hsla(0, 0%, 100%, 0.2); 
   --white-40: hsla(0, 0%, 100%, 0.4); 
   --white-60: hsla(0, 0%, 100%, 0.6);
   --white-85: hsla(0, 0%, 100%, 0.85);

   --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
   --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
   
   --main-bg: linear-gradient(90deg, rgba(14,21,58,1) 0%, rgba(15,74,101,1) 26%, rgba(15,108,129,1) 43%, rgba(16,224,224,1) 100%);
   --bg-scroll: linear-gradient(180deg, #0f4a65 0%, #80d0c7 100%);

   --bg2: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
   --bg3: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
   --bg3-1: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


   --animation-times: 100ms;
   --animation-fast: 50ms;
   --animation-listnav: 500ms;

   --fz-xxs: 12px;
   --fz-xs: 13px;
   --fz-sm: 14px;
   --fz-md: 16px;
   --fz-lg: 18px;
   --fz-xl: 20px;
   --fz-xxl: 22px;
   --fz-heading: 32px;
   --border-radius: 4px;
   --nav-height: 100px;
   --nav-scroll-height: 70px;
   --tab-height: 42px;
   --tab-width: 120px;
   --easing: cubic-bezier(0.645,0.045,0.355,1);
   --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
   --hamburger-width: 30px;
   --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
   --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
   --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
   --ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}




  @font-face {
    font-family: 'Iverse Mono Bold';
    src: url('./../../public/fonts/IverseMono-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
  }

/* //////////// GENERAL STYLES /////////////// */

section.Contact,
section.Testimonials {
   border: 1px solid red;
}


* {
   box-sizing: border-box;
   margin:0;
   padding:0;
   scroll-behavior: smooth;
}
::before, ::after {
    box-sizing: inherit;
}

p > a {
    display: inline-block;
    position: relative;
    color: var(--green);
    transition: var(--transition);
}

p {
   margin: 0 0 15px;
   font-size: 18px;
}

p:last-child, p:last-of-type {
    margin: 0px;
}


a {
   display: inline-block;
   text-decoration: none;
   text-decoration-skip-ink: auto;
   color: inherit;
   position: relative;
   transition: var(--transition);
}

p > a:hover, p > a:focus-visible {
   color: var(--on-tertiary);
   text-decoration: underline;
}

a:hover, a:focus {
   color: var(--on-tertiary);
   text-decoration: underline;
}

a:hover svg, a:focus svg {
   stroke: var(--on-tertiary); /* Ensure SVG stroke color changes on hover */
}

img, 
svg, 
.gatsby-image-wrapper {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    transition: var(--transition);
}

.new {
   fill:var(--lightest-slate);
}

.new:hover {
   fill:var(--on-tertiary)
}

/* ////////////HOME//////////////// */

/* html {
   scrollbar-width: thin;
    scrollbar-color: var(--dark-slate) var(--navy);
} */

.cursor {
    position: fixed;
    width: 1100px;
    height: 1100.02px;
    color: var(--on-tertiary);
    z-index: -99;
    left:0;
    top: 0;
    background: radial-gradient(46.73% 46.73% at 50.03% 53.27%, rgba(34, 209, 238, 0.10) 0%, rgba(34, 209, 238, 0.00) 100%);
    filter: blur(39px);
    transform: translate(-50%, -50%);
    pointer-events: none;
    /* transition: top 0.1s ease, left 0.1s ease; */
}


::-webkit-scrollbar {
   width: 5px;    
   border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: var(--bg-scroll);
    rotate: rotateX('180deg');

}

::-webkit-scrollbar-thumb {
    background: transparent;
    box-shadow: 0px 0px 0px 100000vh black;
}

.Main {
   height: 300vh;
   scroll-behavior: smooth;
}

body {
   background-color: var(--on-primary);
   color: var(--white);
   -webkit-font-smoothing: antialiased;
   color: var(--slate);
   font-family: var(--font-sans);
   font-size: var(--fz-xl);
   /* line-height: 1.3px; */

}

/* .home {
   height: 100vh;
} */

.paragraph {
   font-weight: 600;
   /* font-family: PTMono-Regular, monospace; */
   font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace
}

.highlight {
   color: var(--on-tertiary);
}

.name {
   /* font-family: 'SailecBold', sans-serif; */
   font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
   font-weight:800;
   font-size:55px;
   line-height: 88px;
   text-decoration: none solid var(--gray);
   word-spacing: 2px;
}

.paragraph.name{
   /* color: var(--white-60); */
   color: var(--slate);
}


/* ================ Loading animation ================ */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--on-primary); /* or any other background color */
}

/* //TODO: should be responsive */
.loader-logo {
  width: 550px; 
  height: 550px; 
}

.loader-logo {
  mix-blend-mode: screen;
}

svg#Layer_1 {
   height: 40px;
   opacity: 0;
   animation: onLoad var(--animation-times) forwards 0ms;
   animation-timing-function: var(--transition);
}

svg#Layer_1:hover {
   background-color: var(--main-bg);
   filter: drop-shadow(0 0 3px var(--tertiary-25))
           drop-shadow(0 0 3px var(--tertiary-25))
           drop-shadow(0 0 3px var(--tertiary-25))
           drop-shadow(0 0 3px var(--tertiary-25));
   transform: translate(-5px, -5px);
   cursor: pointer;

}

/* svg#Layer_1:hover path {
    transition: var(--transition);
    box-shadow: 4px 4px 0 0 var(--on-tertiary);
    transform: translate(-5px, -5px);
    cursor: pointer;
}

svg#Layer_1:hover text {
    transition: var(--transition);
    box-shadow: 4px 4px 0 0 var(--on-tertiary);
    transform: translate(0.1px, 0.1px);
    cursor: pointer;
} */

svg#Layer_1 {
  height: 40px;
}

/* svg#Layer_1:hover g {
  transition: var(--transition);
  box-shadow: 4px 4px 0 0 var(--on-tertiary);
  transform: translate(-5px, -5px);
  cursor: pointer;
} */


/*==================== Navigation ================= */

.st0 {
  fill: #10E0E0;
}
.st1 {
  font-family: monospace;
}
.st2 {
  font-size: 55px;
  font-weight: 600;
}


header {
   display: flex;
   -webkit-box-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   align-items: center;
   position: fixed;
   top: 0px;
   z-index: 11;
   padding: 0px 50px;
   width: 100%;
   height: var(--nav-height);
   background-color: var(--main-bg);
   backdrop-filter: blur(10px);
   transition: var(--transition);
   filter: none !important;
   pointer-events: auto !important;
   user-select: auto !important;
}

header.heading-nav.scrolled {
    height: var(--nav-scroll-height);
    background-color: var(--main-bg);
    opacity: 85%;
    box-shadow: 0 10px 30px -10px var(--navy-shadow);
    transform: translateY(0);
}

nav {
   display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: var(--lightest-slate);
    font-family: var(--font-mono);
    counter-reset: item 0;
    z-index: 12;
}

.right a {
    margin: 20px auto;
    padding: 10px;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    color: var(--light-slate);
    text-decoration: none;
}

.right:hover a {
   transform: translateY(-3px);
   color:var(--on-tertiary);
   filter: drop-shadow(0 0 1px var(--tertiary-25))
           drop-shadow(0 0 1px var(--tertiary-25))
           drop-shadow(0 0 1px var(--tertiary-25))
           drop-shadow(0 0 1px var(--tertiary-25));
}

.emai-div {
   display: flex;
   flex-direction: column;
   -webkit-box-align: center;
   align-items: center;
   position: relative;
}

.email-div::after {
   content: "";
   display: block;
   width: 1px;
   height: 90px;
   margin: 0px auto;
   background-color: var(--light-slate);
}

.email-div.vertical-left {
       height: 50px;
    margin-top: 10px;
    border-left: 1px solid var(--on-tertiary);
}


.t-logo {
   margin: 10px 15px;
}

ol {
  list-style: decimal;
}


ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

li.navMenu {
   counter-increment: list-item;
   margin: auto 10px;
   cursor: pointer;
   opacity: 0;
   font-size: 13px;
   line-height: 16.9px;
   color: var(--gray);
   animation-name: onLoad;
   animation-duration: var(--animation-listnav);
   animation-timing-function: var(--transition);
   animation-delay: var(--animation-times);
   animation-fill-mode:forwards;
}

li.navMenu:nth-child(1) {
    animation-delay: calc(var(--animation-times) * 0);
}

li.navMenu:nth-child(2) {
    animation-delay: calc(var(--animation-times) * 1);
}

li.navMenu:nth-child(3) {
    animation-delay: calc(var(--animation-times) * 2);
}

li.navMenu:nth-child(4) {
    animation-delay: calc(var(--animation-times) * 3);
}

li.navMenu:nth-child(5) {
    animation-delay: calc(var(--animation-times) * 4);
}

li.navMenu:hover {
   color: var(--on-tertiary)
}

li.navMenu::before {
   content:counter(list-item, decimal-leading-zero) '.';
   color: var(--on-tertiary);
   font-family: 'SF Mono', sans-serif;
   font-weight: 650;
   margin-right: 4px;
}

button.navMenu{
   color: var(--on-tertiary);
   background-color: transparent;
   border: 1px solid var(--green);
   border-radius: var(--border-radius);
   padding: 0.75rem 1rem;
   font-family: var(--font-mono);
   line-height: 1;
   opacity: 0;
   text-decoration: none;
   transition: var(--transition);
   margin-left: 15px;
   font-size: var(--fz-xs);
   animation-name: onLoad;
   animation-duration: var(--animation-listnav);
   animation-timing-function: var(--transition);
   animation-delay: var(--animation-times);
   animation-fill-mode:forwards;
    animation-delay: calc(var(--animation-times) * 5);
}

button.navMenu:hover {
   transition: var(--transition);
   box-shadow: 4px 4px 0 0 var(--on-tertiary);
   transform: translate(-5px, -5px);
   cursor: pointer;
}

button.navMenu:focus-visible {
   outline: none;
   box-shadow: 3px 3px 0 0 var(--on-tertiary);
   transform: translate(-4px, -4px);
}

:focus-visible {
   outline: 2px dashed var(--on-tertiary);
   outline-offset: 3px;
}





/*==================== Socials ================= */

main {
  display: flex;
}

a {
   transition: var(--transition);
}

aside.left {
   display:flex;
   flex-direction: column;
   align-items: center;
   width: 40px;
   position: fixed;
   bottom: 0px;
   left: 40px;
   right: auto;
   z-index: 10;
   color: var(--light-slate);
}

aside.right {
   display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;

   bottom: 0px;
   left: auto;
   right: 40px;
    position: fixed;
    z-index: 10;
    color: var(--light-slate);
}

aside.left, 
aside.right {
   opacity: 0;
   animation-name: onLoadhome;
   animation-duration: var(--animation-times);
   animation-timing-function: ease-in;
   animation-fill-mode: forwards;
   animation-delay: calc(var(--animation-times) * 16);
}

aside.left a {
   padding: 10px; 
}

aside.left a:hover,
aside.left a:focus,
.jSIwrL {
   transform: translateY(-3px);
   color: var(--on-tertiary);
   transition: var(--transition);
}

aside.left a img {
   width: 20px;
   height: 20px;
   fill: var(--slate);
}

aside.left a svg {
   color: var(--slate);
   width: 20px;
   height: 20px;
}

aside.left a:hover svg,
aside.left a:focus svg {
   color: var(--on-tertiary);
      filter: drop-shadow(0 0 1px var(--tertiary-25))
           drop-shadow(0 0 1px var(--tertiary-25))
           drop-shadow(0 0 1px var(--tertiary-25))
           drop-shadow(0 0 1px var(--tertiary-25));
}

div.vertical {
  height: 50px;
  margin-top: 10px;
  border-left: 1px solid var(--light-slate);;
}

section.main_section {
   margin: 0px 20px 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 20px 150px 200px;
}

section.Projects {
   padding-bottom: unset;
}

section.home {
   margin: auto;
   display: flex;
   padding: 175px 0px 0 0;
   flex-direction: column;
   position: relative;
}

div.fadeup-enter-done {
   animation: onLoadhome;
   opacity: 0;
   animation-duration: var(--animation-listnav);
   animation-timing-function: var(--transition);
   animation-timing-function:  all 0s ease 0.1s;
   animation-delay: var(--animation-times);
   animation-fill-mode:forwards;
} 

/* MayName is */
div.fadeup-enter-done:nth-child(1) {
   animation-delay: calc(var(--animation-times) * 8);
}

/* Name */
div.fadeup-enter-done:nth-child(2) {
   animation-delay: calc(var(--animation-times) * 9);
}

/* Build thing on the web */
div.fadeup-enter-done:nth-child(3) {
   animation-delay: calc(var(--animation-times) * 10);
}

/* paragraph short intro */
div.fadeup-enter-done:nth-child(4) {
   animation-delay: calc(var(--animation-times) * 11);
}

/* Get in Touch Btn */
div.fadeup-enter-done:nth-child(5) {
   animation-delay: calc(var(--animation-times) * 12);
}

p.short-intro {
   color:var(--slate);
   font-family: var(--font-sans);
   font-size: var(--fz-xl);
   word-spacing: 0px;
   color: var(--slate);
   line-height: 1.3;
   
}

button.get-in-touch {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 45px;
   width: 200px;
   border: 1px solid  var(--on-tertiary);
   margin: 50px 0 0 0;
   padding: 18px 25px;
   background-color: var(--main-bg);
   color:var(--on-tertiary);
   cursor: pointer;
   border-radius: var(--border-radius);
   font-family: var(--font-mono);
}

button.get-in-touch:hover {
   /* transform:matrix(1, 0, 0, 1, 0, 0); */
   transition: var(--transition);
   box-shadow: 4px 4px 0 0 var(--on-tertiary);
   transform: translate(-5px, -5px);
}

/* ===================== About =================== */

section {
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
}

section.About {
   max-width: 900px;
   visibility: visible;
   opacity: 1; 
   transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
   transition: opacity 1.5s cubic-bezier(0.5, 0, 0, 1) 0.4s, transform 1.5s cubic-bezier(0.5, 0, 0, 1) 0.4s ;
}


img.img-pic {
   width: 240px ;
   height: 240px;
   object-fit: cover;
   opacity: 1;
   border-radius: var(--border-radius);
}

.numbered-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,var(--fz-heading));
    white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: 600;
   color: var(--lightest-slate);
   line-height: 1.1;
}


.numbered-heading::before {
    position: relative;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-md),3vw,var(--fz-xl));
    font-weight: 400;
}

.numbered-heading::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--lightest-navy);
}

.About .inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}


.about-me-text ul.skill-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

.about-me-text ul.skill-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
}

.about-me-text ul.skill-list li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--green);
    font-size: var(--fz-sm);
    line-height: 12px;
}

.lbrXps {
    position: relative;
    max-width: 240px; 
    /* max-width: 300px; */
}

.lbrXps .wrapper {
    display: block;
    position: relative;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--green);
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
}

.lbrXps .wrapper::before, 
.lbrXps .wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.lbrXps .wrapper::before {
    top: 0;
    left: 0;
    background-color: var(--navy);
    mix-blend-mode: screen;
}

.lbrXps .wrapper::after {
    border: 2px solid var(--green);
    top: 14px;
    left: 14px;
    z-index: -1;
}

.lbrXps .wrapper .img {
    position: relative;
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    transition: var(--transition);
}

.lbrXps .wrapper:hover, 
.lbrXps .wrapper:focus, 
.lbrXps .wrapper:focus-visible {
    outline: 0;
    transform: translate(-4px, -4px);
    box-shadow: 0 20px 30px -15px var(--navy-shadow);
}

.lbrXps .wrapper:hover::after, 
.lbrXps .wrapper:focus::after {
    transform: translate(8px, 8px);
}







.lbrXps .wrapper:hover .img, .lbrXps .wrapper:focus .img {
    filter: none;
    mix-blend-mode: normal;
}

.gatsby-image-wrapper-constrained {
    display: inline-block;
}
.gatsby-image-wrapper {
    position: relative;
    /* overflow: hidden; */
}








/* ===================== Media queries =================== */
@media (max-width: 1080px) {

   
   .heading-nav {
      padding: 0px 40px;
   }

   nav{
        padding: 0px 40px ;
   }

   aside.left {
      left: 20px;
      right: auto;
   }

   aside.right {
      left: auto;
      right: 20px;
   }

   .numbered-heading::after {
      width: 200px;
   }

   .project-content {
        grid-column: 1 / 9;
    }
}

/* The nav icon will be shown here */
@media (max-width: 768px) {
   nav{
        padding: 0px 25px ; 
   }

    /* .gvznfB  */
   .project-title {
      margin: 0px 0px 20px;
   }
}











/* ===================== Keyframes =================== */

@keyframes onLoad {
   0% {
      opacity: 0;
      transform: translateY(-100%);
   } 
   100% {
      opacity: 100%;
      transform: translateY(0);
   }
}

@keyframes onLoad {
   0% {
      opacity: 0; 
      transform: translateY(-100%);
   }
   100% {
      opacity: 100%;
      transform: translateY(0);
   }
}

@keyframes onLoadhome {
   0% {
      opacity: 0; 
   }
   100% {
      opacity: 100%;
   }
}

@keyframes onload-about {
   0% {
      opacity: 0;
      transform: translateY(10%);
   } 
   100% {
      opacity: 100%;
      transform: translateY(0);
   }
}

