@import url('https://fonts.cdnfonts.com/css/sf-mono');
@import url('https://fonts.cdnfonts.com/css/calibri-light');
/* Rectangle 9 */

@import url('./Loading.css');
@import url('./Navigation.css');
@import url('./Socials.css');

:root {
   --on-primary: #0E153A;
   --on-primary2: hsla(230, 61%, 14%, 0.85);
   --on-primary-bg: #0f0c29;
   /* --on-primary-bg50:hsla(246, 57%, 10%, 0.5); */
   --on-secondary: #3D5AF1;
   /* --on-tertiary: #22D1EE; */
   --on-tertiary: #10e0e0;
   --on-tertiary2: hsla(180, 87%, 47%, 0.20);
   --on-tertiary-45: hsla(180, 87%, 47%, 0.45);
   
   --tertiary-10: #10e0e01a; 
   --tertiary-25: rgba(16, 224, 224, 0.25); 

   --white: #FFFFFF;
   --gray: rgb(204, 214, 246);
   --dark-navy: #020c1b;
   --navy: #0a192f;
   --light-navy: #112240;
   --lightest-navy: #233554;
   --navy-shadow: rgba(2,12,27,0.7);
   --dark-slate: #495670;
   --slate: #8892b0;
   --light-slate: #a8b2d1;
   --lightest-slate: #ccd6f6;
   --white: #e6f1ff;
   --green: #64ffda;
   --pink: #f57dff;
   --blue: #57cbff;
   
   --green-tint: rgba(100,255,218,0.1);
   --white-20: hsla(0, 0%, 100%, 0.2); 
   --white-40: hsla(0, 0%, 100%, 0.4); 
   --white-60: hsla(0, 0%, 100%, 0.6);
   --white-85: hsla(0, 0%, 100%, 0.85);

   --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
   --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
   
   --main-bg: linear-gradient(90deg, rgba(14,21,58,1) 0%, rgba(15,74,101,1) 26%, rgba(15,108,129,1) 43%, rgba(16,224,224,1) 100%);
   --bg-scroll: linear-gradient(180deg, #0f4a65 0%, #80d0c7 100%);

   --bg2: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
   --bg3: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
   --bg3-1: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


   --animation-times: 100ms;
   --animation-times2: 2s;
   --animation-fast: 50ms;
   --animation-listnav: 500ms;

   --fz-xxs: 12px;
   --fz-xs: 13px;
   --fz-sm: 14px;
   --fz-md: 16px;
   --fz-lg: 18px;
   --fz-xl: 20px;
   --fz-xxl: 22px;
   --fz-heading: 32px;
   --border-radius: 4px;
   --nav-height: 100px;
   --nav-scroll-height: 70px;
   --tab-height: 42px;
   --tab-width: 120px;
   --easing: cubic-bezier(0.645,0.045,0.355,1);
   --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
   --transition2: all 2s cubic-bezier(0,1.91,.85,1.28);
   --hamburger-width: 30px;
   --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
   --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
   --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
   --ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}

/* //////////// GENERAL STYLES /////////////// */

section.Contact {
   border: 1px solid red;
}


* {
   box-sizing: border-box;
   margin:0;
   padding:0;
   scroll-behavior: smooth;
}
::before, ::after {
    box-sizing: inherit;
}

p > a {
    display: inline-block;
    position: relative;
    color: var(--green);
    transition: var(--transition);
}

p {
   margin: 0 0 15px;
   font-size: 18px;
}

p:last-child, p:last-of-type {
    margin: 0px;
}


a {
   display: inline-block;
   text-decoration: none;
   text-decoration-skip-ink: auto;
   color: inherit;
   position: relative;
   transition: var(--transition);
}

p > a:hover, p > a:focus-visible {
   color: var(--on-tertiary);
   text-decoration: underline;
}

a:hover, a:focus {
   color: var(--on-tertiary);
   text-decoration: underline;
}

a:hover svg, a:focus svg {
   stroke: var(--on-tertiary); /* Ensure SVG stroke color changes on hover */
}

img, 
svg, 
.gatsby-image-wrapper {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    transition: var(--transition);
}

.new {
   fill:var(--lightest-slate);
}

.new:hover {
   fill:var(--on-tertiary)
}


.notification {
   animation-name: notif;
   animation-duration: 1s;
   animation-timing-function: var(--transition2);
   transition: var(--transition2);
   animation-fill-mode:forwards;
   z-index: 100;
   top: 20px;
   left: 50%;
   display: flex;
   align-items: center;
   transform: translate(-50%, -50%);
   position: fixed;
   border: 1px solid var(--on-tertiary);
   /* border: 1px solid rgba(255, 0, 0, 0.568); */
   width: 250px;
   background: linear-gradient(90deg, #3D5AF1 -90.06%, #0E153A 41.67%);
   border-radius: 3px;
   transition: opacity 1s ease-out, top 1s ease-out;
}

.notification .text-notif {
   font-size: 12px;
   font-weight: 600;
   color:var(--on-tertiary)
}

.img-notif {
   width: 40px;
   padding: 10px;
}
/* ////////////HOME//////////////// */

/* html {
   scrollbar-width: thin;
    scrollbar-color: var(--dark-slate) var(--navy);
} */

.cursor {
    position: fixed;
    width: 1100px;
    height: 1100.02px;
    color: var(--on-tertiary);
    z-index: -99;
    left:0;
    top: 0;
    background: radial-gradient(46.73% 46.73% at 50.03% 53.27%, rgba(34, 209, 238, 0.10) 0%, rgba(34, 209, 238, 0.00) 100%);
    filter: blur(39px);
    transform: translate(-50%, -50%);
    pointer-events: none;
    /* transition: top 0.1s ease, left 0.1s ease; */
}


::-webkit-scrollbar {
   width: 5px;    
   border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: var(--bg-scroll);
    rotate: rotateX('180deg');

}

::-webkit-scrollbar-thumb {
    background: transparent;
    box-shadow: 0px 0px 0px 100000vh black;
}

.Main {
   height: 300vh;
   scroll-behavior: smooth;
}


body {
   background-color: var(--on-primary);
   color: var(--white);
   -webkit-font-smoothing: antialiased;
   color: var(--slate);
   font-family: var(--font-sans);
   font-size: var(--fz-xl);
   /* line-height: 1.3px; */

}

/* .home {
   height: 100vh;
} */

.paragraph {
   font-weight: 600;
   /* font-family: PTMono-Regular, monospace; */
   font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace
}

.highlight {
   color: var(--on-tertiary);
}

.name {
   /* font-family: 'SailecBold', sans-serif; */
   font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
   font-weight:800;
   font-size:55px;
   line-height: 88px;
   text-decoration: none solid var(--gray);
   word-spacing: 2px;
}

.paragraph.name{
   /* color: var(--white-60); */
   color: var(--slate);
}





/* ===================== Media queries =================== */

/* @media (prefers-reduced-motion: no-preference) {
   .header.heading-nav.scrolled {
      height: var(--nav-scroll-height);
      transform: translateY(calc(var(--nav-scroll-height)* -1));
      box-shadow: 0 10px 30px -10px var(--navy-shadow);
   }
} */

@media (max-width: 768px) {
   .Menubtn{
      display: flex;
      z-index: 50;
      position: fixed;
      width: 25px;
      right: 40px;
      top: 35px;
   }

   section.main_section {
      padding: 20px 50px;
   }
   aside.left, aside.right{
      display: none;
   }

   aside.menuAside {
      display:block !important;
   }

   .heading-nav {
      padding: 0px 25px;
   };

   nav{
        padding: 0px 0px  !important;
   }

   /* TODO: change this if the menu button is clicked */
   aside>nav>ol.navList.navList2{
      display: none;
   }

   ol.navList{
      display: none;
   }

   nav > .side-menu {
      display: flex !important;
   }

    /* .gvznfB  */
   .project-title {
      margin: 0px 0px 20px;
   }


   /* about */
   .About .inner {
      display: flex;
      flex-direction: column;
      align-items: center;
   }


   /* ==== qProjects  */
   .mobilePreview > img,
   .windowPreview > img,
   .imgAbove > img,
   .imgBelow > img{
      display: none;
   }

   .project-content {
      top: 0;
      width: 100%;
      grid-column: 1 / 13 !important;
   }


   .project-content.project4Content {
      margin-top: unset !important
   }
}



@media (max-width: 1080px) {
   
   .heading-nav {
      padding: 0px 40px;
   }

   nav{
        padding: 0px 40px ;
   }

   aside.left {
      left: 20px;
      right: auto;
   }

   aside.right {
      left: auto;
      right: 20px;
   }

   .numbered-heading::after {
      width: 200px;
   }

   .project-content {
        grid-column: 1 / 9;
    }
}

@media (max-width:400px) {
   .navto {
      width: 70%;
   }
}











/* ===================== Keyframes =================== */

@keyframes onLoad {
   0% {
      opacity: 0;
      transform: translateY(-100%);
   } 
   100% {
      opacity: 100%;
      transform: translateY(0);
   }
}
@keyframes onLoadButton {
   0% {
      opacity: 0; 
      transform: translateY(-100%);
   }
   100% {
      opacity: 100%;
      transform: translateY(0);
   }
}

@keyframes onLoad {
   0% {
      opacity: 0; 
      transform: translateY(-100%);
   }
   100% {
      opacity: 100%;
      transform: translateY(0);
   }
}

@keyframes notif {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top:30px
  }
}

@keyframes notif-out {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top:-30px
  }
}

@keyframes onLoadhome {
   0% {
      opacity: 0; 
   }
   100% {
      opacity: 100%;
   }
}

@keyframes onload-about {
   0% {
      opacity: 0;
      transform: translateY(10%);
   } 
   100% {
      opacity: 100%;
      transform: translateY(0);
   }
}

