/* ===================== Projects =================== */
.featured-projects {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.projects:not(:last-of-type) {
    margin-bottom: 100px;
}


.projects {
   position: relative;
   display: grid;
   gap: 10px;
   grid-template-columns: repeat(12, 1fr);
   -webkit-box-align: center;
   align-items: center;
}

.project-overline {
    margin: 10px 0px !important;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    font-weight: 400;
}

.project-content {
   position: relative;
   grid-area: 1 / 1 / -1 / 7;
   bottom:130px
}

.project-title {
   color: var(--lightest-slate);
   font-size: clamp(24px, 5vw, 28px);
}

.project-description {
   box-shadow: 0 10px 30px -15px var(--navy-shadow);
   transition: var(--transition);
   position: relative;
   z-index: 2;
   padding: 25px;
   border-radius: var(--border-radius);
   background-color: var(--light-navy);
   color: var(--light-slate);
   font-size: var(--fz-lg);
}

.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
}

.project-tech-list li {
    margin: 0px 20px 5px 0px;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    white-space: nowrap;
}

.project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
    color: var(--lightest-slate);
}

.project-links a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px;
}


.project-image {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
}

.imgPreview {
   height: 100%;
   border-radius:10px
}

.skycast2,
.skycast3 {
   width: 150px;
   height: 300px;
}

.skycast2 {
    transform: translate(0, 50px);
}

.skycast3 {
    transform: translate(0, 50px);
}

.mobilePreview {
   display: flex;
   justify-content: center;
   gap:30px;
}

@media (min-width: 768px) {
    .project-title {
        margin: 0px 0px 20px;
    }
}