@import url('./index.css');

.testimony-container {
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   text-align: center;
   gap: 20px;
}

.wrapper {
   display: flex;
   align-items: center;
   flex-direction: column;
   max-width: 300px;
   box-shadow: 0 10px 30px -15px var(--navy-shadow);
   display: flex;
   -webkit-box-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   flex-direction: column;
   position: relative;
   height: 100%;
   padding: 1rem;
   border-radius: var(--border-radius);
   background-color: var(--light-navy);
   transition: var(--transition);
}


.img-profile {
   height: 50px;
   width: 50px;
   transform: translateY(-25px);
   border-radius: 50%;
   outline: 2px solid white;
   outline-offset: 2px;
}
.user-name,
.user-profession,
.testimony-p {
   padding: 10px;
}

p.testimony-p {
   line-height: 22px;;
}